* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TOPO / TELA*/

#tela {
    height: 170px;
    color: white;
    background-color: #0F172B;  
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}

#conta {
    color: #afabab;
    min-height: 24px;
    font-size: 18px;
    margin-top: 6rem; 
}

#resu {
    font-size: 38px;
    min-height: 45px;
    margin-top: auto; 
 
}
/* CALCULADORA */

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c9a;
}

#border-dad {
    border: 1rem solid #0F172B;
    border-radius: 0.6rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

button {
    height: 80px;
    border: 1px solid;
    font-size: 3rem;
    transition-duration: 70ms;
}
.botoes {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    background-color: #314158;
}

.buttonCSi {
    background-color: #45556C;
    
}

.buttonBSi {
    background-color: #FFB900;
    
}

.buttonNu {
    background-color: #314158;
}

.bdif {
   grid-column: span 2;
}
.buH:hover{
 border: 2px solid #dfdfdf44;
}